{% extends 'store/base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to my site</p>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <center>
            <div class="col-8"></div>
            <p align="justify"><br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eu metus nunc. Maecenas sagittis, nibh
                at molestie ullamcorper, nulla turpis cursus mi, et facilisis augue tellus at massa. Mauris tristique ex
                id tincidunt pretium. Maecenas consequat, augue vel luctus accumsan, urna sapien sodales velit, quis
                cursus neque metus ac quam. Vivamus dictum laoreet libero vitae sodales. Duis mollis rutrum interdum.
                Maecenas laoreet lacinia tortor, id dapibus arcu porttitor quis. Class aptent taciti sociosqu ad litora
                torquent per conubia nostra, per inceptos himenaeos.
                Nulla rhoncus tristique gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras malesuada
                lacus nec velit volutpat, sit amet finibus justo fringilla. Nunc fringilla ornare nisl, ac scelerisque
                sem tincidunt ac. Maecenas varius metus dui, a iaculis odio porttitor eget. Nulla vel libero ultricies,
                scelerisque augue sit amet, malesuada ante. Nunc elit risus, fringilla id pulvinar eu, viverra eu est.
                <br>
                Nunc euismod ipsum eget sapien maximus, vestibulum dignissim velit tincidunt. In ac mollis justo. Nunc
                ut ornare nibh. Etiam sit amet lorem auctor nibh efficitur consequat eu et nisl. Quisque tincidunt id
                nulla non vestibulum. Praesent eros est, porttitor id mi at, vehicula convallis orci. Sed ac purus
                metus. Fusce aliquet quis lectus non scelerisque. Aliquam in dolor dictum, placerat justo nec, tempor
                justo. Integer ultricies bibendum tempus. Donec aliquam eros facilisis commodo consequat.
                Ut efficitur venenatis porttitor. Phasellus in nisi ultrices ex lobortis tristique vitae quis tellus.
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                <br>
                Sed id urna pharetra felis ultricies rhoncus id id urna. Vivamus sit amet auctor augue, a tristique
                urna. Maecenas eu nibh porta, dignissim mi sit amet, semper massa. Ut ultrices imperdiet augue, non
                laoreet neque posuere tempus. Etiam feugiat facilisis justo at venenatis. Integer tincidunt sodales
                neque vitae pulvinar. In hac habitasse platea dictumst. Pellentesque gravida enim et sem facilisis
                lobortis. Duis at orci nec arcu laoreet iaculis a sed arcu. Nam dui neque, placerat molestie purus nec,
                facilisis fermentum augue.
                Suspendisse laoreet ipsum sed sem congue blandit. Aenean rhoncus nisi massa, ut aliquam nibh venenatis
                sit amet. Fusce aliquet varius venenatis. Integer eros urna, vulputate ut velit id, interdum dapibus
                eros. Duis at felis vestibulum, tempus nisl eget, iaculis neque.
            </p><br>
        </center>
    </div>
</div>

{% endblock %}